/* the whole child elements for the body are in grid style */

body {
  display: grid;
  min-height: 100%;
  min-width: 97.5vw;
  color: rgb(55, 56, 55);
  background-color: white !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* ********** the body is mainly divide into three parts i.e topNav, main and the footer *************** */

/* the topNav container */

.topNav {
  background-color: rgb(239, 248, 247);
  display: flex;
  height: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* inside the navigation bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

a > img {
  height: 20px;
  width: 25px;
  padding-top: 2px;
}

article > img {
  height: 150px;
  width: 150px;
}

.search > img {
  width: 20px;
  height: 20px;
}

.sub,
.log {
  background-color: rgba(38, 39, 128, 0.9);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-bottom: 0;
}

.thirdNavSec {
  display: flex;
  width: 7.3cm;
  justify-content: space-between;
}

/* **************** the main container********************************* */

main {
  grid-row-start: 2;
  grid-row-end: 7;
  background-color: rgb(253, 249, 250);
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.mainsocial {
  border-top: 1px solid gray;
}

.mainDivOne {
  display: flex;
  flex-direction: column;
  margin-left: 16%;
  margin-right: 16%;
}

.mainDivTwo,
.divLastsec {
  margin-left: 25%;
  margin-right: 25%;
}

.firstMainSec > img {
  width: 100%;
  height: 10cm;
}

/* *****editor sec ****** */

.ediSec {
  display: flex;
  flex: 1;
}

/* *** editor picks section*** */

.editorPics {
  display: flex;
  flex-direction: column;
  margin-right: -40%;
  margin-left: -10%;
}

.one {
  border-top: 1px solid gray;
  padding-top: 4px;
}

.editorsec {
  display: flex;
}

.editorsec > img {
  float: left;
  height: 60px;
  width: 60px;
  padding-bottom: 5px;
}

.editorsec > p {
  font-size: 14px;
  float: right;
}

/* *** inflation pics sec *** */

.midDivSec {
  display: flex;
  flex-direction: column;
}

.firstInfpics,
.secInfpics {
  display: flex;
}

/* final div */

.finDiv {
  display: flex;
  flex-direction: column;
}

.todaySec {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

/* *** sugestions and space astro *** */

.suggestions-sec {
  display: flex;
  flex: 1;
}

.inner-sugOne {
  padding-top: 8px;
  border-top: 1px solid gray;
}

.containerForPics {
  display: flex;
  margin-right: 30px;
}

.spaceAndAstronomy {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  padding-top: 1.4rem;
}

.spaceAndAstronomyInner {
  display: flex;
}

.Eiditor {
  display: flex;
  padding-top: 3px;
  border-top: 1px solid gray;
}

/* ******************the footer container***************** */

footer {
  grid-row-start: 7;
  grid-row-end: 9;
  background-color: rgb(247, 243, 243);
  bottom: 0;
  border-top: 1px solid gray;
}

.footerLinks {
  display: flex;
  padding-bottom: 4rem;
  width: 95.5vw;
  justify-content: space-between;
}

.contacts {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 3px solid gray;
  border-top: 1px solid gray;
  padding-top: 5px;
}

.options {
  display: flex;
  flex-direction: column;
}

.mostImpo {
  width: 50vw;
  height: 45vh;
}

.infp {
  font-size: 13px;
  padding-right: 12px;
}

.ev {
  border-top: 1px solid gray;
}

.newsletter {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todayp {
  background-color: rgba(3, 4, 58, 0.9);
  color: white;
  border-radius: 5px;
}

a > svg {
  width: 40%;
}

#gra > svg {
  width: 70%;
}

.infph {
  font-size: 15px;
  background-color: #d8bfd8;
  padding-top: 0;
  margin: 0;
}

.Opsec {
  text-align: center;
}

.midDiv {
  margin-left: 4%;
  margin-right: 4%;
}

.contentSecTwot {
  margin-right: 30%;
}
